asgiref==3.6.0
Django==4.2
django-multiselectfield==0.1.12
exceptiongroup==1.1.1
iniconfig==2.0.0
packaging==23.1
Pillow==9.5.0
pluggy==1.2.0
pytest==7.4.0
pytest-django==4.5.2
sqlparse==0.4.3
tomli==2.0.1
