name: Restaurant Tests

on:
  workflow_call:
  push:
    branches:
      - main
    pull_request:
      branches:
        - main
  

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set Up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Test with Pytest
        working-directory: .
        run: pytest -vv
        
      - name: Django Test
        run: python manage.py test
